<mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
        <app-tasks (scaleEvent)="onScale()"></app-tasks>
    </mat-sidenav>
    <agm-map [latitude]="moscow.lat" [longitude]="moscow.lng" [zoom]="moscow.zoom">
        <ng-container *ngFor="let driver of tasks.drivers;">
            <agm-marker *ngIf="driver.lat !== null && driver.lng !== null" [latitude]="driver.lat" [longitude]="driver.lng">
                <agm-info-window [isOpen]="true" [disableAutoPan]="true">
                    {{ driver.name }}
                </agm-info-window>
            </agm-marker>
        </ng-container>
        <ng-container *ngFor="let task of tasks.tasks; let i = index" [attr.data-index]="i">
            <agm-marker *ngIf="task.lat !== null && task.lng !== null" [latitude]="task.lat" [longitude]="task.lng">
                <agm-info-window [isOpen]="true" [disableAutoPan]="true">
                    {{ '№' + (i + 1) }}
                </agm-info-window>
            </agm-marker>
        </ng-container>
        <agm-polyline [geodesic]="true" [strokeColor]="'#000000'" [strokeOpacity]="1" [strokeWeight]="3">
            <ng-container *ngFor="let coords of tasks.coordinates;">
                <agm-polyline-point *ngIf="coords.lat !== null && coords.lng !== null" [latitude]="coords.lat"
                                    [longitude]="coords.lng"></agm-polyline-point>
            </ng-container>
        </agm-polyline>
        <core-map-content (onMapLoad)='loadAPIWrapper($event)'>></core-map-content>
    </agm-map>
    <button id="fab" mat-fab color="accent" (click)="addDriver()">
        <mat-icon>add</mat-icon>
    </button>
</mat-sidenav-container>