@import "../styles/mixins";

mat-sidenav-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

mat-sidenav-container mat-sidenav {
  width: 100%;
  max-width: 320px;
  background: #f5f5f5;
  overflow-y: scroll;
}

agm-map {
  height: 100%;
}

#fab {
  position: absolute;
  right: 48px;
  bottom: 24px;
}