<h1 mat-dialog-title>Новый водитель</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name" placeholder="Имя">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.imei" placeholder="IMEI">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" tabindex="2">ДОБАВИТЬ</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">ОТМЕНА</button>
</div>