<h1 mat-dialog-title>Импорт из CSV</h1>
<input type="file" (change)="fileChange($event)" accept=".csv">
<div mat-dialog-actions>
    <button mat-button (click)="onUpload()" tabindex="2">ЗАГРУЗИТЬ</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">ОТМЕНА</button>
</div>