<h1 mat-dialog-title>Изменение задания №{{ data.position + 1 }}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.name" placeholder="Наименование">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.address" placeholder="Адрес">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.phone" placeholder="Телефон">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.contactName" placeholder="Контактное лицо">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.payment" placeholder="Форма оплаты">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.task" placeholder="Задание">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.task.manager" placeholder="Менеджер">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.task" tabindex="2">ГОТОВО</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">ОТМЕНА</button>
</div>