<mat-toolbar color="primary">
    <span>Панель логиста</span>
    <div class="buttons">
        <button id="scale" mat-icon-button (click)="onScale()">
            <mat-icon>map</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-form-field>
    <mat-select [(ngModel)]="driver" (ngModelChange)="onDriver($event)">
        <mat-option [value]="0">
            Не выбран
        </mat-option>
        <mat-option *ngFor="let driver of drivers" [value]="driver.id">
            {{ driver.name }}
        </mat-option>
    </mat-select>
</mat-form-field>
<div id="actions">
    <button [disabled]="driver === 0" type="button" class="action" (click)="uploadTasks()" mat-raised-button>
        Добавить из CSV
    </button>
    <button [disabled]="driver === 0" mat-raised-button class="action" (click)="deleteTasks()">
        Удалить все
    </button>
</div>
<ng-container *ngFor="let point of days;">
    <mat-card>
        <mat-card-content>
            <h4 style="margin-bottom: 0">{{ point.name + ' (' + point.date + ')' }}</h4>
            <p>Общее расстояние: {{ beautifyDistance(point.distance) }}</p>
            <ul *ngIf="point.tasks.length > 0">
                <li *ngFor="let dot of point.tasks;">{{ dot.name }}: {{ dot.distance }}</li>
            </ul>
        </mat-card-content>
    </mat-card>
</ng-container>
<mat-card *ngFor="let task of tasks; let i = index" [attr.data-index]="i">
    <mat-card-content>
        <h4 style="margin-bottom: 0">Задание №{{ i + 1 }}</h4>
        <p>Наименование: {{ task.name }}</p>
        <p>Адрес: {{ task.address }}</p>
        <p>Телефон: {{ task.phone }}</p>
        <p>Контактное лицо: {{ task.contactName }}</p>
        <p>Форма оплаты: {{ task.payment }}</p>
        <p>Задание: {{ task.task }}</p>
        <p>Менеджер: {{ task.manager }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="editTask(i)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTask(i)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<button [disabled]="driver === 0" mat-raised-button id="delete" (click)="deleteDriver()">
    Удалить водителя
</button>