@import "../../../styles/mixins";

mat-form-field {
  @include calc(width, '100% - 32px');
  padding: 16px 16px 0 16px;
}

mat-card {
  margin: 16px;
  font-size: 14px;
  line-height: 1.5;
}

.mat-card-actions {
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
}

mat-card-content {
  overflow-x: hidden;
}

.buttons {
  margin-left: auto;
  margin-right: 0;
}

#actions {
  @include flexbox();
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 16px;
}

.action {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}

#delete {
  @include calc(width, '100% - 32px');
  margin: 8px 16px 16px 16px;
}

ul {
  padding-left: 16px;
}