<h1 mat-dialog-title>Вы уверены?</h1>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" tabindex="2">OK</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">ОТМЕНА</button>
</div>